# Exercise 3 - Data Lake on S3

In [1]:
from pyspark.sql import SparkSession
import os
import configparser

from pyspark.sql.types import StructType, StructField
from pyspark.sql.types import StringType, IntegerType, FloatType, TimestampType, LongType, DoubleType

# Make sure that your AWS credentials are loaded as env vars

In [2]:
config = configparser.ConfigParser()

#Normally this file should be in ~/.aws/credentials
config.read_file(open('aws/credentials.cfg'))

os.environ["AWS_ACCESS_KEY_ID"]= config['AWS']['AWS_ACCESS_KEY_ID']
os.environ["AWS_SECRET_ACCESS_KEY"]= config['AWS']['AWS_SECRET_ACCESS_KEY']

# Create spark session with hadoop-aws package

In [3]:
spark = SparkSession.builder\
                     .config("spark.jars.packages","org.apache.hadoop:hadoop-aws:2.7.0")\
                     .getOrCreate()

# Load data from S3

In [25]:
#df = spark.read.csv("s3a://udacity-dend/pagila/payment/payment.csv")
#df = spark.read.json("s3a://udacity-dend/song_data")

path = "s3a://udacity-dend/song_data"
song_schema = StructType([
	StructField("num_songs", IntegerType()),
    StructField("artist_id", StringType()),
    StructField("artist_latitude", FloatType()),
    StructField("artist_longitude", FloatType()),
    StructField("artist_location", StringType()),
    StructField("artist_name", StringType()),
    StructField("song_id", StringType()),
    StructField("title", StringType()),
    StructField("duration", FloatType()),
    StructField("year", IntegerType())
])

song_df = spark.read.json(path, 
          schema=song_schema)

In [29]:
song_df.count()

0

In [30]:
song_df.printSchema()
song_df.show(5)

root
 |-- num_songs: integer (nullable = true)
 |-- artist_id: string (nullable = true)
 |-- artist_latitude: float (nullable = true)
 |-- artist_longitude: float (nullable = true)
 |-- artist_location: string (nullable = true)
 |-- artist_name: string (nullable = true)
 |-- song_id: string (nullable = true)
 |-- title: string (nullable = true)
 |-- duration: float (nullable = true)
 |-- year: integer (nullable = true)

+---------+---------+---------------+----------------+---------------+-----------+-------+-----+--------+----+
|num_songs|artist_id|artist_latitude|artist_longitude|artist_location|artist_name|song_id|title|duration|year|
+---------+---------+---------------+----------------+---------------+-----------+-------+-----+--------+----+
+---------+---------+---------------+----------------+---------------+-----------+-------+-----+--------+----+

# Infer schema, fix header and separator

In [6]:
df = spark.read.csv("s3a://udacity-dend/pagila/payment/payment.csv",sep=";", inferSchema=True, header=True)

In [7]:
df.printSchema()
df.show(5)

root
 |-- payment_id: integer (nullable = true)
 |-- customer_id: integer (nullable = true)
 |-- staff_id: integer (nullable = true)
 |-- rental_id: integer (nullable = true)
 |-- amount: double (nullable = true)
 |-- payment_date: string (nullable = true)

+----------+-----------+--------+---------+------+--------------------+
|payment_id|customer_id|staff_id|rental_id|amount|        payment_date|
+----------+-----------+--------+---------+------+--------------------+
|     16050|        269|       2|        7|  1.99|2017-01-24 21:40:...|
|     16051|        269|       1|       98|  0.99|2017-01-25 15:16:...|
|     16052|        269|       2|      678|  6.99|2017-01-28 21:44:...|
|     16053|        269|       2|      703|  0.99|2017-01-29 00:58:...|
|     16054|        269|       1|      750|  4.99|2017-01-29 08:10:...|
+----------+-----------+--------+---------+------+--------------------+
only showing top 5 rows

# Fix the data yourself

In [8]:
import  pyspark.sql.functions as F
dfPayment = df.withColumn("payment_date", F.to_timestamp("payment_date"))
dfPayment.printSchema()
dfPayment.show(5)

root
 |-- payment_id: integer (nullable = true)
 |-- customer_id: integer (nullable = true)
 |-- staff_id: integer (nullable = true)
 |-- rental_id: integer (nullable = true)
 |-- amount: double (nullable = true)
 |-- payment_date: timestamp (nullable = true)

+----------+-----------+--------+---------+------+--------------------+
|payment_id|customer_id|staff_id|rental_id|amount|        payment_date|
+----------+-----------+--------+---------+------+--------------------+
|     16050|        269|       2|        7|  1.99|2017-01-24 21:40:...|
|     16051|        269|       1|       98|  0.99|2017-01-25 15:16:...|
|     16052|        269|       2|      678|  6.99|2017-01-28 21:44:...|
|     16053|        269|       2|      703|  0.99|2017-01-29 00:58:...|
|     16054|        269|       1|      750|  4.99|2017-01-29 08:10:...|
+----------+-----------+--------+---------+------+--------------------+
only showing top 5 rows

# Extract the month

In [9]:
dfPayment = dfPayment.withColumn("month", F.month("payment_date"))
dfPayment.show(5)

+----------+-----------+--------+---------+------+--------------------+-----+
|payment_id|customer_id|staff_id|rental_id|amount|        payment_date|month|
+----------+-----------+--------+---------+------+--------------------+-----+
|     16050|        269|       2|        7|  1.99|2017-01-24 21:40:...|    1|
|     16051|        269|       1|       98|  0.99|2017-01-25 15:16:...|    1|
|     16052|        269|       2|      678|  6.99|2017-01-28 21:44:...|    1|
|     16053|        269|       2|      703|  0.99|2017-01-29 00:58:...|    1|
|     16054|        269|       1|      750|  4.99|2017-01-29 08:10:...|    1|
+----------+-----------+--------+---------+------+--------------------+-----+
only showing top 5 rows

# Computer aggregate revenue per month

In [10]:
dfPayment.createOrReplaceTempView("payment")
spark.sql("""
    SELECT month, sum(amount) as revenue
    FROM payment
    GROUP by month
    order by revenue desc
""").show()

+-----+------------------+
|month|           revenue|
+-----+------------------+
|    4|28559.460000003943|
|    3|23886.560000002115|
|    2| 9631.879999999608|
|    1| 4824.429999999856|
|    5|  514.180000000001|
+-----+------------------+

# Fix the schema

In [11]:
from pyspark.sql.types import StructType as R, StructField as Fld, DoubleType as Dbl, StringType as Str, IntegerType as Int, DateType as Date
paymentSchema = R([
    Fld("payment_id",Int()),
    Fld("customer_id",Int()),
    Fld("staff_id",Int()),
    Fld("rental_id",Int()),
    Fld("amount",Dbl()),
    Fld("payment_date",Date()),
])

In [12]:
dfPaymentWithSchema = spark.read.csv("s3a://udacity-dend/pagila/payment/payment.csv",sep=";", schema=paymentSchema, header=True)

In [13]:
dfPaymentWithSchema.printSchema()
df.show(5)

root
 |-- payment_id: integer (nullable = true)
 |-- customer_id: integer (nullable = true)
 |-- staff_id: integer (nullable = true)
 |-- rental_id: integer (nullable = true)
 |-- amount: double (nullable = true)
 |-- payment_date: date (nullable = true)

+----------+-----------+--------+---------+------+--------------------+
|payment_id|customer_id|staff_id|rental_id|amount|        payment_date|
+----------+-----------+--------+---------+------+--------------------+
|     16050|        269|       2|        7|  1.99|2017-01-24 21:40:...|
|     16051|        269|       1|       98|  0.99|2017-01-25 15:16:...|
|     16052|        269|       2|      678|  6.99|2017-01-28 21:44:...|
|     16053|        269|       2|      703|  0.99|2017-01-29 00:58:...|
|     16054|        269|       1|      750|  4.99|2017-01-29 08:10:...|
+----------+-----------+--------+---------+------+--------------------+
only showing top 5 rows

In [14]:
dfPaymentWithSchema.createOrReplaceTempView("payment")
spark.sql("""
    SELECT month(payment_date) as m, sum(amount) as revenue
    FROM payment
    GROUP by m
    order by revenue desc
""").show()

+---+------------------+
|  m|           revenue|
+---+------------------+
|  4|28559.460000003943|
|  3|23886.560000002115|
|  2| 9631.879999999608|
|  1| 4824.429999999856|
|  5|  514.180000000001|
+---+------------------+

In [15]:
spark.sql("""
    SELECT count(*)
    FROM payment
""").show()

+--------+
|count(1)|
+--------+
|   16049|
+--------+

In [31]:
path = "s3a://udacity-dend/song_data/*/*/*/*.json"
song_df = spark.read.json(path)
song_df.count()

KeyboardInterrupt:

In [21]:
path = "s3a://sushanth-dend-datalake-programs/merged_song_data.json"
song_df = spark.read.json(path)

In [22]:
song_df.printSchema()

root
 |-- artist_id: string (nullable = true)
 |-- artist_latitude: double (nullable = true)
 |-- artist_location: string (nullable = true)
 |-- artist_longitude: double (nullable = true)
 |-- artist_name: string (nullable = true)
 |-- duration: double (nullable = true)
 |-- num_songs: long (nullable = true)
 |-- song_id: string (nullable = true)
 |-- title: string (nullable = true)
 |-- year: long (nullable = true)

In [23]:
song_df.count()

14896

In [24]:
song_df.show()

+------------------+---------------+--------------------+----------------+--------------------+---------+---------+------------------+--------------------+----+
|         artist_id|artist_latitude|     artist_location|artist_longitude|         artist_name| duration|num_songs|           song_id|               title|year|
+------------------+---------------+--------------------+----------------+--------------------+---------+---------+------------------+--------------------+----+
|ARANAED11F50C473A4|           null|                    |            null|           Rico Pupa|251.50649|        1|SOMGGOB12A67ADCE5F|    Te Decourage Pas|   0|
|ARCT4M21187B9AD1D8|           null|  NY - New York City|            null|        Jim Gaffigan|175.93424|        1|SODEXHR12A6D4F59D3|Guy With The Red ...|   0|
|AR3YC831187FB51E40|       38.62774|       St. Louis, MO|       -90.19951|       Calico System|186.61832|        1|SOMDQIU12AB018778E|   Venomous Lipstick|2005|
|ARLL5Z41187B9B88FE|           null|   GRIFFITH, Indiana|            null|       Debbie Gibson|223.50322|        1|SOOGKYQ12AB0182AEC|        Fallen Angel|1987|
|AR3WB6J1187FB3DE23|           null|                    |            null|              Scarve|219.19302|        1|SOHFLPK12A8AE460A7|     An emptier void|2003|
|ARN0A8S1187FB4F550|           null|                    |            null|       Get Well Soon|299.98975|        1|SOXPOUV12AB0187049|We Are The Roman ...|2010|
|ARPGYM11187FB4B1E1|       35.83073|           Tennessee|       -85.97874|              Owsley|179.64363|        1|SOVBPAE12AB01862BF|The Homecoming So...|1999|
|ARNNC731187FB55D14|           null|                    |            null|             Kary Ng|209.55383|        1|SOTCACH12A6D4F7788|Ai Ni Bian Cheng ...|2006|
|ARIRBO11187FB4B219|           null|                    |            null|   Donna The Buffalo|196.75383|        1|SOHGLOP12AB017DC66|       Broken Record|   0|
|ARY1VGA1187FB5A39E|       56.85147|Lynn Lake, Manito...|      -101.04893|        Tom Cochrane|220.81261|        1|SOTWQOG12A6D4F9421|Paper Tigers (aco...|1997|
|AR0LPDJ1187B9919F1|        54.5958|Belfast, Northern...|        -5.93494|          Derek Bell|268.32934|        1|SOQDIQK12A8C13CB23|     Sake In The Jar|   0|
|AROJJ9U1187FB37E3D|           null|                    |            null|           Aphrodite| 30.01424|        1|SOHFNEH12AB0181FBC|Interlude - Children|   0|
|ARSAZ9E1187B99FC51|           null|                    |            null|         Bitch Alert|219.42812|        1|SOZRMFL12A6D4F7966|               Sandy|2001|
|AR7WP0M1187B98F57B|        43.7427|            Michigan|       -84.62167|      The Muckrakers|211.25179|        1|SOSYXKU12AB017FA2B|   Beautiful Goodbye|   0|
|AR1SHY11187B9A1CB1|           null|                    |            null|              DJ Laz|211.48689|        1|SOAFEJY12A81C20F6B|           Sabrosura|1998|
|ARPZIYG1187B99688A|           null|                    |            null|     Ella Baila Sola| 195.3171|        1|SOKHDBP12A81C2066E|           Despídete|1999|
|ARIT8YH1187FB43F30|           null|Whitby, Yorkshire...|            null|        Arthur Brown|422.16444|        1|SOGGMZY12A6701FE43| Child Of My Kingdom|1968|
|ARVIZTD1187FB36943|           null|                    |            null|      Razed in Black|345.28608|        1|SOOPBBJ12A8C137ACF|          Better Off|1999|
|ARAILTA11F4C840A06|           null|                    |            null|Endellion String ...|348.60363|        1|SOUFBFK12A8C13D668|String Quartets O...|   0|
|AR18EBX1187B9A66EB|           null|New York City New...|            null|              Baumer|223.79057|        1|SODZXEI12A8C139DFB|   Sidewalk Shopping|2008|
+------------------+---------------+--------------------+----------------+--------------------+---------+---------+------------------+--------------------+----+
only showing top 20 rows

In [1]:
response = {'JobFlowId': 'j-3QVQJLLST4RF9', 'ResponseMetadata': {'RequestId': '2c347d58-7731-4b58-aefc-55f5fd458fd5', 'HTTPStatusCode': 200, 'HTTPHeaders': {'x-amzn-requestid': '2c347d58-7731-4b58-aefc-55f5fd458fd5', 'content-type': 'application/x-amz-json-1.1', 'content-length': '31', 'date': 'Sun, 03 Nov 2019 10:02:15 GMT'}, 'RetryAttempts': 0}}

In [3]:
print(response['JobFlowId'])

j-3QVQJLLST4RF9